$clr-light-100: hsl(0, 0%, 100%);

$clr-dark-100: hsl(0, 0, 0);
$clr-dark-200: hsla(0, 0, 0, 60%);
$clr-dark-300: hsl(0, 0, 15);

$clr-purple-100: hsl(292, 70%, 55%);
$clr-purple-200: hsla(292, 70%, 55%, 62%);

$clr-additional-100: hsl(0, 88, 83);
$clr-additional-200: hsl(0, 68, 56);
$clr-additional-300: hsl(0, 31, 35);
