.navigation {
  position: sticky;
  top: 0;
  left: 0;
  padding: 2rem;
  background: hsla(0, 0, 0, 0.6);
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item {
  * > a {
    padding: 1rem 2rem;
    -webkit-text-stroke: 1px hsla(292, 70%, 55%, 0.62);
    transition: 0.5s;

    &:hover {
      color: hsla(292, 70%, 55%, 0.62);
      -webkit-text-stroke: 1px hsl(0, 0%, 100%);
    }
  }
}

.sign {
  margin-left: auto;
}

.logo {
  margin-right: 5rem;
}
