@use '../abstracts/' as *;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  background: $clr-dark-200;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item {
  * > a {
    padding: 1rem 2rem;
    -webkit-text-stroke: 1px;
    transition: 0.5s;

    &:hover {
      color: $clr-purple-200;
      -webkit-text-stroke: 1px $clr-light-100;
    }
  }
}

.sign {
  margin-left: auto;
}

.logo {
  margin-right: 5rem;
}
